<link rel="stylesheet" href="/css/music/music.css">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <title>Configuración de compra</title>
</head>

<body>
.
<div id="menu">
          

           <div id="menu-arriba">
                <i class="bx bx-user"></i>
                <a id="col" style="text-decoration: none;" href="/profile">Perfiles</a>
            </div>

             <div id="menu-arriba">
                <i class='bx bx-music'></i>
                <a id="col" style="text-decoration: none;" href="/musics">Musica</a>
            </div>

            <div id="menu-arriba">
                <i class='bx bxs-videos' ></i>
                <a id="col" style="text-decoration: none;"href="/videos">Videos</a>
            </div>

            <div id="menu-arriba">
                <i class='bx bxs-image-add' ></i>
                <a id="col" style="text-decoration: none;" href="/Images">Imagenes</a>
            </div>
            <div id="menu-arriba">
                <i class='bx bx-stats' ></i>
                <a id="col" style="text-decoration: none;" href="/Stats">Estadisticas</a>
            </div>

         <form action="/profile/update/{{id}}" method="post" enctype="multipart/form-data">
          <div id="escribir">
             <table class="table table-condensed">
                 <h2 style="margin-left: 20%;">Seccion de Perfiles</h2><br>
                      <td><h3 id="texto1">Identificacion:</h3></td>
                        <td><input class="form-control input-sm" name="artist_id" style="width: 200%;" value="{{artist_id}}"></td>

                      <tr>
                        <td><h3 id="texto1">Nombre Publico:</h3></td>
                        <td><input  class="form-control input-sm" name="public_name" style="width: 200%;" value="{{public_name}}"></td>
                      </tr>

                      <tr>
                        <td><h3 id="texto1">Descripcion:</h3></td>
                        <td><input  class="form-control input-sm" name="public_description" style="width: 200%;" value="{{public_description}}"></td>
                      </tr>

                      <tr>
                        <td><h3 id="texto1">Url:</h3></td>
                        <td><input  class="form-control input-sm" name="public_url_social_media" style="width: 200%;" value="{{public_url_social_media}}"></td>
                      </tr>
                   
                  </table>
                  <br><br><br>
                  <button id="guarda" type="submit">Guardar</button>
                </form>
               
               
                 <br>
                <form action="/profile/delete/{{id}}" method="post" nctype="multipart/form-data">
                  <button id="guarda2" type="submit">Eliminar</button>
                </form>
            
                <p style="margin-left: 55%;">
                <iframe width="440" height="298" style="margin-top:-85%;" src="https://loquesuenaenecuador.files.wordpress.com/2011/11/danilorosero-320x240-11700.jpg"></iframe>
                </p>

</div>
      
</body>